body {
    background-color:#AAABBB;
}

li a {
    list-style:none;
    text-decoration:none;
    font: 15px Verdana;
    color:white;
}
#topButtons{
    margin-left:0;
    padding: 0;
    color:white;
    list-style-type: none;
    text-align: justify;
    height: 21px;
}

#topList > li {
    margin-left:0;
    width:24%;
    vertical-align: top;
    background:gray;
    position: static;
    display:inline-block;
    text-align: center;
    border:1px solid black;
    color:white;
}
